--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
pydantic-settings
pydantic[email]
reportlab
python-multipart
bcrypt
passlib[bcrypt]
Pillow
torch==2.3.1+cpu
torchvision==0.18.1+cpu
numpy
opencv-python-headless
